.navbar-container {
    background-color: #2c2c2c;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;  /* centered content */
    position: relative;       /* added for positioning logout button */
    width: 100%;
    box-shadow: 100px 0px 100px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

.navbar-container img.logo {
    max-width: 480px;
    height: auto;
}

.navbar-container button {
    background-color: #6200ea;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;   /* position logout button */
    top: 50%;            /* center vertically */
    right: 20px;         /* push to the right side */
    transform: translateY(-50%);  /* centering fix */
}

.navbar-container button:hover {
    background-color: #5000b8;
}
