.product-list-container {
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}

.product-list-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.product-list-container ul {
    list-style-type: none;
    padding: 0;
    max-height: 1000px;
    overflow-y: auto;
}

.product-list-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.product-list-container button {
    background-color: #6200ea;
    align-items: center;
    color: #ffffff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.product-list-container button:hover {
    background-color: #5000b8;
}

.warranty-icon {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.product-list-container ul {
    list-style-type: none;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.table-header,
.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.table-header {
    font-weight: bold;
    background-color: #f2f2f2;
    justify-content: center;
    text-align: center;
}

.product-name,
.product-serial,
.product-date {
    flex: 1;
    padding: 0 10px;
    text-align: center;
}

.product-actions {
    display: flex;
    align-items: center;
}

.table-header span {
}